<h1>Burgers!</h1>

<h2>Burgers ready to be devoured</h2>
<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{burger_name}}
      <button data-id="{{id}}" class="change-devoured">DEVOUR</button>
    {{/unless}}
  {{/each}}
</ul>

<h2>Burgers you've eaten</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{burger_name}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">Burger:</label>
    <input type="text" id="bg" name="burger_name">
  </div>

  <button type="submit" class="burger-add">Add Burger</button>
</form>
